* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  gap: 2rem;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step:nth-child(even) {
  width: 4rem;
  height: 0.2rem;
  background-color: rgb(180, 182, 183);
  transition:width 0.5s ease;
}

.progress-step:nth-child(odd) {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.1rem solid skyblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  transition: background-color 0.5s ease,color 0.5s ease;
}

/* Completed line */
.progress-step:nth-child(even).complete {
  background-color: skyblue;
}

/* Completed circle */
.progress-step:nth-child(odd).complete {
  background-color: skyblue;
  color: white;
}
